* {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
body {
  background:#F3F5FC;
}


.header {
width:300px;
height: 120px;
}
.header img {
  margin:40px 0px 80px 84px;
}
.container-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap:40px;
}
.crip-content {
  margin:0 auto;
  max-width:680px;
  margin-left:240px;
}
.crip-content textarea {
  width:600px;
  border:0;
  font-size: 32px;
  color:#0A3871;
  background:#F3F5FC;
  /* padding-bottom:500px; */
  resize: none;
  height: 500px;
}
.crip-content textarea::placeholder {
  color:#0A3871;
}
.decrip-content {
  padding:143px 32px;
  background:#ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  margin:40px;
}
.decrip-content h2 {
  color: #343A40;
  text-align: center;
  width:20ch;
  margin: 0 auto;
}
.decrip-content p  {
  margin: 0 auto;
  max-width:30ch;
  text-align: center;
  margin-top: 18px;
  font-size: 16px;
  color:#495057;
}
.decrip-content img {
  margin-bottom:30px;
}
.alert {
  margin-top:20px;
  margin-bottom:20px;
  display: flex;
  gap:10px;
  align-items: center;
  color: #495057;
}
.botoes button {
  font-size: 16px;
  padding:24px 90px;
  border-radius: 24px;
}
.crip-btn {
  border:1px solid #0A3871;
  color:white;
  background:#0A3871;
  cursor: pointer;

}
.decrip-btn {
  border:2px solid #0A3871;
  cursor: pointer;
  background: #F3F5FC;
}
.footer {
  display: flex;
  border-top:3px solid #D2EBF8;
  justify-content: space-around;
  padding: 50px;
}
.quote p {
  margin-top:10px;
  width:500px;
  color:#495057;
}
.quote span {
  font-weight: bold;
  color:#141414;
}
.contact ul {
  display: flex;
  gap: 30px;
}
.contact h1{
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color:#141414;
  margin-bottom:20px;
  position: relative;
}
.contact h1::before {
  content: '';
  display: block;
  width:40px;
  height:20px;
  background: #0A66C2;
  position: absolute;
  z-index: -1;
  bottom:5px;
  left: -2px;
}
