* {
  border:0;
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
body {
  background:#F3F5FC;
}
.header {
  max-width:869px;
  height: 120px;
}
.header img {
  margin:40px 0px 80px 84px;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.crip-content {
  margin:0 auto;
  max-width:680px;
  padding-left:240px;
}
.crip-content textarea {
  min-width:600px;
  font-size: 32px;
  color:#0A3871;
  background:#F3F5FC;
  resize: none;
  height: 440px;
}
.crip-content textarea::placeholder {
  color:#0A3871;
}
.decrip-content {
  max-width: 380px;
  padding:0px 32px 20px 32px;
  background:#ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  margin:40px;
  word-wrap: break-word;
}
.decrip-content h2 {
  color: #343A40;
  text-align: center;
  width:20ch;
  margin: 0 auto;
}
.decrip-content p  {
  margin: 0 auto;
  max-width:30ch;
  text-align: center;
  margin-top: 18px;
  font-size: 16px;
  color:#495057;
  margin-bottom:50px;
}
.decrip-content img {
  margin-bottom:30px;
  padding-top:143px;
}
.alert {
  margin-top:20px;
  margin-bottom:20px;
  display: flex;
  gap:10px;
  align-items: center;
  color: #495057;
}
.btn {
  justify-content: center;
  display: flex;
  max-width:630px;
  text-align: center;
  gap:20px;
}
.crip-btn {
  min-width:293px ;
  cursor: pointer;
  font-size: 16px;
  padding:24px 95px;
  border-radius:24px;
  border:2px solid #0A3871;
  background: #0A3871;
  color:white;
}
.decrip-btn{
  min-width:293px ;
  cursor: pointer;
  font-size: 16px;
  padding:24px 90px;
  border-radius:24px;
  border:2px solid #0A3871;
  background: #F3F5FC;
}

.footer {
  display: flex;
  border-top:3px solid #D2EBF8;
  justify-content: space-around;
  padding: 50px;
  margin-top:50px;
  gap:20px;
}
.quote p {
  margin-top:10px;
  max-width:500px;
  color:#495057;
}
.quote span {
  font-weight: bold;
  color:#141414;
}
.contact ul {
  display: flex;
  gap: 30px;
}
.contact h1{
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color:#141414;
  margin-bottom:20px;
  position: relative;
}
.contact h1::before {
  content: '';
  display: block;
  width:40px;
  height:20px;
  background: #0A66C2;
  position: absolute;
  z-index: -1;
  bottom:5px;
  left: -2px;
}
.textoCrip {
  overflow-y: auto;
  max-width: 336px;
  min-height: 530px;
  max-height: 531px;
  margin:20px 0px;
  font-weight: normal;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  color:#0a3871;
}
.copy {
  cursor: pointer ;
  color: #141414;
  font-weight: bold;
  background:#ffffff;
  border:#0A3871 2px solid;
  border-radius: 24px;
  padding:24px 130px;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.esconder {
  display: none;
}
.semTexto {
  height:448px;
}
/*Responsive*/
@media (max-width:800px) {
  .container {
    grid-template-columns: 1fr;
  }
  .crip-content {
    margin-top:50px;
    padding-left:10px;
  }
  .decrip-content {
    margin: 40px auto;
    min-width:70%;
  }
  .decrip-content h2 {
    margin:20px auto;
    max-width:100%;
  }
  .decrip-content p {
    text-align: center;
    margin:10px auto;
    max-width:100%;
  }
  .decrip-content img {
    display:none;
  }
  .textoCrip {
    max-width: 600px;
    min-height: auto;
  }
  .footer {
    display: flex;
    border-top:3px solid #D2EBF8;
    justify-content: space-around;
    padding: 50px;
    margin-top:50px;
  }
}
@media (max-width:500px) {

  .btn {
    flex-direction: column;
    justify-content: center;
    display: flex;
    max-width:300px;
    text-align: center;
    gap:20px;
  }
}